#fir_floor{
    width: 1210px;
    height: 555px;
    margin: 10px auto
;
}
/*--------------------------------匯促恣円-----------------------------*/
#fir_floor_left{
    float: left;
    width:210px;
    height:555px;
}
#fir_floor_left p{
    width: 198px;
    height: 32px;
    line-height: 32px;
    color: #FFF;
    font-size: 14px;
    background-color: #fe6565;
    padding-left: 12px;
    display: block;
}
#fir_floor_left_list{
    width: 210px;
    height: 202px;
    background: url(../img/in_fll.gif) repeat-y;
    border-bottom: #dfdfdf 1px solid;
}
#fir_floor_left_list dl{
    float: left;
    width: 180px;
    margin-left: 15px;
    display: inline;
    margin-top: 15px;
}
#fir_floor_left_list dt{
    color: #323232;
    line-height: 23px;
    font-weight: bold;
}
#fir_floor_left_list dd{
    color: #323232;
    line-height: 23px;
}
#fir_floor_left_list dd a{
    color: #323232;
}
#fir_floor_left_list dd a:hover{
    color: #c82324;
    text-decoration: underline;
}
.fir_floor_left_ad{
    margin-top:3px;
}
.fir_floor_left_ad img{
    display: inline;
}
/*----------------------------匯促嘔円-------------------------*/
#fir_floor_right{
    float: left;
    width: 1000px;
}
#fir_floor_right .more{
    float: right;
    position: relative;
    right: 0;
    bottom: -7px;
}
#fir_floor_right .more a{
    color: #ccc;
}
#fir_floor_right .more a:hover{
    color: #c82324;
    text-decoration: underline;
}
#fir_floor_right ul{
    float: left;
    width: 100%;
    border-bottom: #a9a9a9 2px solid;
    border-top: #dfdfdf 1px solid;
    margin-top: -16px;
    height:30px;
}
#fir_floor_right ul li{
    float: left;
    width: 188px;
    height:30px;
}
#fir_floor_right ul li a{
    background: url(../img/hdm1.gif) no-repeat bottom;
    color: #c82324;
    font-weight: bold;
    z-index: 999;
    position: relative;
    display: block;
    width: 188px;
    height:32px;
    text-align: center;
    line-height: 30px;
    bottom: -4px;
    margin-top: -4px;
    font-size:14px;
}
#fir_floor_right_list{
    padding-top: 5px;
    clear: both;
    border: 1px solid #dfdfdf;
    border-top: none;
    border-left: none;
    background: #fff;
    padding-left: 35px;
    height: 517px;
    overflow: hidden;
}
#fir_floor_right_list .none{
    background: none;
}
#fir_floor_right_list dl{
    margin-left: 4px;
    float: left;
    width: 186px;
    height: 230px;
    margin-bottom: 20px;
    background: url(../img/xx.gif) repeat-y right;
    border-bottom: #fff 2px solid;
    padding-left: 1px;
}
#fir_floor_right_list dl:hover{
    border-bottom: #ccc 2px solid;
}
#fir_floor_right_list dl span{
    text-align: center;
    width: 175px;
    margin-bottom: 5px;
}
#fir_floor_right_list dl span a{
    cursor: pointer;
}
#fir_floor_right_list dl dt{
    float: left;
    width: 166px;
    height: 32px;
    line-height: 16px;
    margin-left: 12px;
    display: inline;

}
#fir_floor_right_list dl dt a{
    color: #000;
    cursor: pointer;

}
#fir_floor_right_list dl dt a:hover{
    color: #666;
}
#fir_floor_right_list dl dd{
    float: left;
    width: 166px;
    color: #989898;
    margin-left: 12px;
    display: inline;
}
#fir_floor_right_list dl dd strong{
    color: #e3383b;
    font-size: 14px;
}
/*------------------------------------------屈促---------------------------------------------------------------------------*/
#sec_floor{
    width: 1210px;
    height: 555px;
    margin: 10px auto;
}
#sec_floor_left{
    width: 210px;
    height:555px;
    float: left;
}
#sec_floor_left p{
    width: 198px;
    height: 32px;
    line-height: 32px;
    color: #FFF;
    font-size: 14px;
    background-color: #3dacea;;
    padding-left: 12px;
    display: block;
}
#sec_floor_left_list{
    width: 210px;
    height: 430px;
    background: url(../img/in_fl2.gif) repeat-y;
    border-bottom: #dfdfdf 1px solid;
}
#sec_floor_left_list dl{
    float: left;
    width: 180px;
    margin-left: 15px;
    display: inline;
    margin-top: 15px;
}
#sec_floor_left_list dl dt{
    color: #323232;
    line-height: 23px;
    font-weight: bold;
}
#sec_floor_left_list dl dd{
    color: #323232;
    line-height: 23px;
}
#sec_floor_left_list dl dd a{
    color: #323232;
}
#sec_floor_left_list dl dd a:hover{
    text-decoration: underline;
    color: #c82324;
}
/*！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！及屈促嘔円------------------------------*/
#sec_floor_right{
    float: left;
    width: 1000px;
}
#sec_floor_right .more{
    float: right;
    position: relative;
    right: 0;
    bottom: -7px;
}
#sec_floor_right .more a{
    color: #ccc;
}
#sec_floor_right .more a:hover{
    color: #c82324;
    text-decoration: underline;
}
#sec_floor_right ul{
    float: left;
    width: 100%;
    border-bottom: #a9a9a9 2px solid;
    border-top: #dfdfdf 1px solid;
    margin-top: -16px;
    height:30px;
}
#sec_floor_right ul li{
    float: left;
    width: 188px;
    height:30px;
}
#sec_floor_right ul li a{
    background: url(../img/hdm1.gif) no-repeat bottom;
    color: #c82324;
    font-weight: bold;
    z-index: 999;
    position: relative;
    display: block;
    width: 188px;
    height:32px;
    text-align: center;
    line-height: 30px;
    bottom: -4px;
    margin-top: -4px;
    font-size:14px;
}
#sec_floor_right_list{
    padding-top: 5px;
    clear: both;
    border: 1px solid #dfdfdf;
    border-top: none;
    border-left: none;
    background: #fff;
    padding-left: 35px;
    height: 517px;
    overflow: hidden;
}
#sec_floor_right_list .none{
    background: none;
}
#sec_floor_right_list dl{
    margin-left: 4px;
    float: left;
    width: 186px;
    height: 230px;
    margin-bottom: 20px;
    background: url(../img/xx.gif) repeat-y right;
    border-bottom: #fff 2px solid;
    padding-left: 1px;
}
#sec_floor_right_list dl:hover{
    border-bottom: #ccc 2px solid;
}
#sec_floor_right_list dl span{
    text-align: center;
    width: 175px;
    margin-bottom: 5px;
}
#sec_floor_right_list dl span a{
    cursor: pointer;
}
#sec_floor_right_list dl dt{
    float: left;
    width: 166px;
    height: 32px;
    line-height: 16px;
    margin-left: 12px;
    display: inline;

}
#sec_floor_right_list dl dt a{
    color: #000;
    cursor: pointer;

}
#sec_floor_right_list dl dt a:hover{
    color: #666;
}
#sec_floor_right_list dl dd{
    float: left;
    width: 166px;
    color: #989898;
    margin-left: 12px;
    display: inline;
}
#sec_floor_right_list dl dd strong{
    color: #e3383b;
    font-size: 14px;
}
/*-----------------------------------茄右佼-----------------------------------------*/
#find_treasure{
    width: 1207px;
    height: 241px;
    border-top: #a9a9a9 2px solid;
    border-bottom: #dfdfdf 1px solid;
    border-left: #dfdfdf 1px solid;
    border-right: #dfdfdf 1px solid;
    margin: 10px auto;
}
#find_treasure p{
    float: left;
}
#find_treasure .none{
    background: none;
}
#find_treasure dl{
    float: left;
    width: 190px;
    height: 241px;
    background: url(../img/xx.gif) repeat-y right;
    padding-right: 1px;
    position: relative;
}
#find_treasure dl:hover{
    border-bottom: #ccc 2px solid;
}
#find_treasure dl span{
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    width: 190px;
    height: 175px;
    text-align: center;
}
#find_treasure dl dt{
    float: left;
    width: 166px;
    height: 32px;
    line-height: 16px;
    margin-left: 12px;
    display: inline;
}
#find_treasure dl dd{
    float: left;
    width: 166px;
    color: #989898;
    margin-left: 12px;
    display: inline;
}
#find_treasure dl dt a{
    color:#333
}
#find_treasure dl dt a:hover{
    text-decoration: underline;
    color:#666;
}
#find_treasure dl dd strong{
    color: #e3383b;
    font-size: 14px;
}
/*----------------------------------s眉促！！---------------------------------*/
#thr_floor{
    width: 1210px;
    height: 555px;
    margin: 10px auto;
}
#thr_floor_left{
    width: 210px;
    height:555px;
    float: left;
}
#thr_floor_left p{
    width: 198px;
    height: 32px;
    line-height: 32px;
    color: #FFF;
    font-size: 14px;
    background-color: #ed7333;;
    padding-left: 12px;
    display: block;
}
#thr_floor_left_list{
    width: 210px;
    height: 523px;
    background: url(../img/in_fl3.gif) repeat-y;
    border-bottom: #dfdfdf 1px solid;
}
#thr_floor_left_list dl{
    float: left;
    width: 180px;
    margin-left: 15px;
    display: inline;
    margin-top: 15px;
}
#thr_floor_left_list dl dt{
    color: #323232;
    line-height: 23px;
    font-weight: bold;
}
#thr_floor_left_list dl dd{
    color: #323232;
    line-height: 23px;
}
#thr_floor_left_list dl dd a{
    color: #323232;
}
#thr_floor_left_list dl dd a:hover{
    text-decoration: underline;
    color: #c82324;
}
/*------------------------眉促嘔円------------------------------------------------------*/
#thr_floor_right{
    float: left;
    width: 1000px;
}
#thr_floor_right .more{
    float: right;
    position: relative;
    right: 0;
    bottom: -7px;
}
#thr_floor_right .more a{
    color: #ccc;
}
#thr_floor_right .more a:hover{
    color: #c82324;
    text-decoration: underline;
}
#thr_floor_right .listt{
    float: left;
    width: 100%;
    border-bottom: #a9a9a9 2px solid;
    border-top: #dfdfdf 1px solid;
    margin-top: -16px;
    height:32px;
}
#thr_floor_right .listt li{
    float: left;
    width: 188px;
    height:32px;
}
#thr_floor_right .listt li a{
    color: #323232;
    font-weight: bold;
    z-index: 999;
    position: relative;
    display: block;
    width: 188px;
    height:32px;
    text-align: center;
    line-height: 30px;
    bottom: -4px;
    margin-top: -4px;
    font-size:14px;
}
#thr_floor_right_list{
    padding-top: 5px;
    clear: both;
    border: 1px solid #dfdfdf;
    border-top: none;
    border-left: none;
    background: #fff;
    padding-left: 35px;
    height: 517px;
    overflow: hidden;
}
#thr_floor_right_list .none{
    background: none;
}
#thr_floor_right_list dl{
    margin-left: 4px;
    float: left;
    width: 186px;
    height: 230px;
    margin-bottom: 20px;
    background: url(../img/xx.gif) repeat-y right;
    border-bottom: #fff 2px solid;
    padding-left: 1px;
}
#thr_floor_right_list dl:hover{
    border-bottom: #ccc 2px solid;
}
#thr_floor_right_list dl span{
    text-align: center;
    width: 175px;
    margin-bottom: 5px;
}
#thr_floor_right_list dl span a{
    cursor: pointer;
}
#thr_floor_right_list dl dt{
    float: left;
    width: 166px;
    height: 32px;
    line-height: 16px;
    margin-left: 12px;
    display: inline;

}
#thr_floor_right_list dl dt a{
    color: #000;
    cursor: pointer;

}
#thr_floor_right_list dl dt a:hover{
    color: #666;
}
#thr_floor_right_list dl dd{
    float: left;
    width: 166px;
    color: #989898;
    margin-left: 12px;
    display: inline;
}
#thr_floor_right_list dl dd strong{
    color: #e3383b;
    font-size: 14px;
}
/*---------------------------------4促----------------------------------------*/
#fou_floor{
    width: 1210px;
    height: 555px;
    margin: 10px auto;
}
#fou_floor_left{
    width: 210px;
    height:555px;
    float: left;
}
#fou_floor_left p{
    width: 198px;
    height: 32px;
    line-height: 32px;
    color: #FFF;
    font-size: 14px;
    background-color: #59616e;
    padding-left: 12px;
    display: block;
}
#fou_floor_left_list{
    width: 210px;
    height: 523px;
    background: url(../img/in_fl4.gif) repeat-y;
    border-bottom: #dfdfdf 1px solid;
}
#fou_floor_left_list dl{
    float: left;
    width: 180px;
    margin-left: 15px;
    display: inline;
    margin-top: 15px;
}
#fou_floor_left_list dl dt{
    color: #323232;
    line-height: 23px;
    font-weight: bold;
}
#fou_floor_left_list dl dd{
    color: #323232;
    line-height: 23px;
}
#fou_floor_left_list dl dd a{
    color: #323232;
}
#fou_floor_left_list dl dd a:hover{
    text-decoration: underline;
    color: #c82324;
}
/*！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！及4促嘔円------------------------------*/
#fou_floor_right{
    float: left;
    width: 1000px;
}
#fou_floor_right .more{
    float: right;
    position: relative;
    right: 0;
    bottom: -7px;
}
#fou_floor_right .more a{
    color: #ccc;
}
#fou_floor_right .more a:hover{
    color: #c82324;
    text-decoration: underline;
}
#fou_floor_right ul{
    float: left;
    width: 100%;
    border-bottom: #a9a9a9 2px solid;
    border-top: #dfdfdf 1px solid;
    margin-top: -16px;
    height:30px;
}
#fou_floor_right ul li{
    float: left;
    width: 188px;
    height:30px;
}
#fou_floor_right ul li a{
    background: url(../img/hdm1.gif) no-repeat bottom;
    color: #c82324;
    font-weight: bold;
    z-index: 999;
    position: relative;
    display: block;
    width: 188px;
    height:32px;
    text-align: center;
    line-height: 30px;
    bottom: -4px;
    margin-top: -4px;
    font-size:14px;
}
#fou_floor_right_list{
    padding-top: 5px;
    clear: both;
    border: 1px solid #dfdfdf;
    border-top: none;
    border-left: none;
    background: #fff;
    padding-left: 35px;
    height: 517px;
    overflow: hidden;
}
#fou_floor_right_list .none{
    background: none;
}
#fou_floor_right_list dl{
    margin-left: 4px;
    float: left;
    width: 186px;
    height: 230px;
    margin-bottom: 20px;
    background: url(../img/xx.gif) repeat-y right;
    border-bottom: #fff 2px solid;
    padding-left: 1px;
}
#fou_floor_right_list dl:hover{
    border-bottom: #ccc 2px solid;
}
#fou_floor_right_list dl span{
    text-align: center;
    width: 175px;
    margin-bottom: 5px;
}
#fou_floor_right_list dl span a{
    cursor: pointer;
}
#fou_floor_right_list dl dt{
    float: left;
    width: 166px;
    height: 32px;
    line-height: 16px;
    margin-left: 12px;
    display: inline;

}
#fou_floor_right_list dl dt a{
    color: #000;
    cursor: pointer;

}
#fou_floor_right_list dl dt a:hover{
    color: #666;
}
#fou_floor_right_list dl dd{
    float: left;
    width: 166px;
    color: #989898;
    margin-left: 12px;
    display: inline;
}
#fou_floor_right_list dl dd strong{
    color: #e3383b;
    font-size: 14px;
}